<div class="container">

  <div class="text-center">
    <h2>Welcome to Product Application!</h2>
    <h2>Product List</h2>
    <br>
  </div>

  <table class="table table-stripped table-hover">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let item of products | paginate: { itemsPerPage: 4, currentPage: page }'>
        <td>{{item.pid}}</td>
        <td>{{item.name}}</td>
        <td>{{item.description}}</td>
        <td>{{item.price}}</td>
        <td>
          <button class="btn btn-info" (click)="editProduct(item)">Edit</button>&nbsp;&nbsp;
          <button class="btn btn-danger" (click)="deleteProduct(item)">Delete</button>
        </td>
      </tr>
      <tr *ngIf="!products || products.length==0">
        <th colspan="5">
          <p class="text-left text-danger">SORRY..! No Product Available..!</p>
        </th>
      </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
  <div class="text-center">
    <br>
    <button class="btn btn-success" (click)="addProduct()">Add Product</button>&nbsp;&nbsp;
    <button class="btn btn-danger" (click)="deleteAllProduct(products)">Delete All Products</button>
  </div>

</div>